@media (max-width:1000px) {
  .lesson{
    width:50%;
    margin-bottom:50px;
  }
  
  .top-wrapper h1{
    font-size:32px;
  }

  /* Tambahkan CSS untuk tag <h2> didalam heading */
  .top-wrapper h2{
    font-size:20px;
  }
}

@media (max-width:670px) {
  .lesson{
    width:100%;
  }
  
  footer{
    text-align:center;
  }
  /* Ubah width milik lesson ke 100% */
   .btn{
    width:100%;
  }
  /* Gantikan margin-bottom facebook ke 10px */
  
  .facebook{
    margin-bottom:10px;
  }
  /* Tambahkan CSS untuk top-wrapper */
  .top-wrapper{
    text-align:left;
    padding-top:130px;
  }
  
  .top-wrapper h1{
    font-size:24px;
    line-height:36px;
}
    .top-wrapper p{
    font-size:14px;
    line-height:20px;
    
  }
  /* Ubah text-align property milik <footer> */
  
}

 .header-right{
    display:none;
  }
  
  .menu-icon{
    display:block;
  }
